

/* HEADER */
header {
   
}
/* imagen logo */
Header div {
  

    
}

headerdiv {
   
}





header div 

/* navegador header */


.headerSmarth {
    display: flex;
    background-color: black;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    width: 30px;
    padding-right: 8px;
    padding-top: 15px;
}

/* NAV JS */
.nav-js {
   
}

/* Main */


        /* Main quines somos */


p {
   
}   
        /*Main Jugadores  */



.listas li {

}

.listas 

.listas li 

/* MAIN Contactos */








.numero 









.formulario 






/* MAIN Araujo */




.datos 

.datos 

.datos 

.datosGenerales 

.trayectoria li {
    
}

.sectionVideos {
    display: block;
    text-align: center;
    justify-content: center;
}

 .tituloVideo {
    display: block;
    color: white;
    margin: 2rem;
}

.videos {
    margin: 2rem;
}

/* videos mobile */

.videosMobile {
    text-align: center;
}

/* Footer */
footer {
   
}

footer img {
    

}
    









.carruselCentrado {
    display:inline;
    justify-content: center;
    align-items: center;
    text-align: center;
}









/* First mobile */
@media only screen and (max-width: 426px){
    body{
        background-color: black;
    }
   
    .tituloMobile { 
        display: none;
    }


    /* cambia de lado los item del menu desplegable*/
    .items { 
        
    }

    .navbar {



    /* carrusel  */

    .carruselDesktop {
        display: none;
    }


    .sacarCarrusel {
        display: none;
    }

    

    .carruselTablet {
        text-align: center;
    }


} 


/* hasta tablet */

@media only screen and (min-width: 426px) and (max-width: 1023px){
    body{
        background-color: black
    }


    
  
    /* NAV BOOTSTRAP */

    .navbar { /* esta en el nav principal */
  
    }
    
    .items { /* cambia de lado el los item del menu */
        
    }

    .mauro {/* cambia de lugar la img del menu */
        

    }




    /* ---------------- */


    /* main jugadores */
    .listaJugadores {  
        display: flex;
        justify-content: center;
    }

    .tituloJugadores {
        text-align: center;
        color: white;
        padding-top: 3em;
    }

    .listas a{
        color: white;
        text-decoration: none;
    }

    .listas li {
        padding-bottom: 1rem;
        color: white;
        list-style-type: disc;
    } 

    .listas {
        margin: 2rem;
    }

    /* MAIN Contactos */

    .consulta {
        display: block;
    }

    textarea {
        width: 75%;
    }

    /* MAIN ARAUJO */

    .listas li a {
        display: flex;
        text-align: left;
    }


    /* Videos Araujo */
    .carruselDesktop {
        display: none;
    }

    .carruselTablet {
        text-align: center;
    }
  

    .sacarCarrusel {
        display: none;
    }

    .videosTablet {
        text-align: center;
        justify-content: center;
    }


}


/* DESKTOP EN ADELANTE */
@media only screen and (min-width: 1024px){



    .headerSmarth {
        display: none;
    }
    .lista-header {
        display: flex; 
        justify-content: end;
        margin-bottom: 10px;
    }
    .lista-header ul{
        display: flex;
        list-style-type: none;
    }

    .lista-header ul li a{
        text-decoration: none;
        color: white;
        margin: 10px;
    }

   
    
    .parrafo {
        text-align: left;
    }

    .videosIndex iframe {
        width: 350px;
        height: 300px;
    }

    


    /* main jugadores */
.listaJugadores {  
    display: flex;
    justify-content: space-around;
}

.tituloJugadores {
    text-align: center;
    color: white;
    padding-top: 3em;
}

.listas a{
    color: white;
    text-decoration: none;
}



.listas li {
    padding-bottom: 1rem;
    color: white;
    list-style-type: disc;
} 

.listas {
    margin: 2rem;
}


/* MAIN Contactos */

.consulta {
    display: block;
}

textarea {
    width: 75%;
}

/* MAIN Araujo */

.listas li a {
    display: flex;
    text-align: left;
}


/* VIDEOS ARAUJO */
.videosMobile {
    display: none;
}

.carruselDesktop {
    text-align: center;
}

.carruselTablet {
    display: none;
}

}
