/* Error: expected "{".
 *    ,
 * 74 |                     scale (1.2)
 *    |                                ^
 *    '
 *   sass\media\_vista-desktop.scss 74:32  @import
 *   sass\style.scss 29:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 74 \2502                      scale (1.2)\d\a    \2502                                 ^\a    \2575 \a   sass\\media\\_vista-desktop.scss 74:32  @import\a   sass\\style.scss 29:9                  root stylesheet';
}
