/* Main contactos */

main {
    .tituloContactos {
        margin-bottom: 2rem;
        align-items: center;
        color: white;
        
    }

    section {

        .listaContactos {

            li {
                .logoTelefono {
                    width: 30px;
                    margin-left: 2rem;

                    .numero {

                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
                .logoMail {
                    width: 30px;
                    margin-left: 2rem;

                    .mail {
                        text-decoration: none;
                        color: white;  
                    }
                }
            }
        }
    }

    .mensaje {

        fieldset {
            margin-left: 1rem;
            margin-right: 1rem;

            legend {
                color: white;
                padding: 1rem;
                margin-left: 0.5rem;
                font-size: 1.5rem;
            }
            
            .formulario {
                display: block;
                color: white;
                padding-left: 1rem;

                input {
                    display: block;
                    margin-bottom: 1rem;
                }

                .bordes:focus {
                    background-color: rgb(207, 206, 206);
                    color: black;
                    border: 5px solid yellow;
                }
                
                textarea {
                    font-size: larger;
                }
            }   
        }
    }
}