main {

    .tituloJugadores {
        justify-content: center;
        padding-bottom: 2rem;
    }

    .tituloJugadores {

        .listas {

            li {
                padding-bottom: 0.5rem;
                text-align: center;
                list-style-type: decimal;

                a {
                    text-decoration: none;
                    color: white;
                }

                a:hover {
                    background-color: rgb(220, 217, 215);
                    color: black;
                }
            }

        }

    }
    

}