/* Varibales */
$font-family: Georgia;

/* Main Araujo */

.araujo {

    .tituloAraujo {
        font-family: $font-family;
        color: white;
        text-align: center;
        margin-bottom: 2rem;
    }

    .datos {
        color: white;

        h2 {
            font-family: $font-family;
            margin: 2rem;
         }

         ul {
            margin-left: 3rem;
            margin-right: 1rem;

            li {
                font-family: $font-family;
                padding-bottom: 1rem;    
            }
        }
    }

    .datosGenerales {

        h2 {
            font-family: $font-family;
            margin: 2rem;
         }

         .trayectoria {

            li {
                font-family: $font-family;
                list-style-type: circle;
            }
         }
    }

    .carruselTablet {
        
        text-align: center;

        h2 {
            @extend .tituloAraujo; 
        }
    }
}