/* Variables */

$font-family: Georgia;


/* Main contactos */



@mixin decoration-none {
    text-decoration: none;
    color: white;
}


.contactos {
    .tituloContactos {
        font-family: $font-family;
        margin-bottom: 2rem;
        margin-left: 2rem;
        align-items: center;
        color: white;
    }

    section {
        .listaContactos {
            text-align: left;
            li {
                list-style-type: none;
                text-align: left;

                .logoTelefono {
                    width: 30px;
                    }

                a {
                    font-family: $font-family;
                    text-decoration: none;
                    color: white;
                }
                .logoMail {
                    width: 30px;

                    .mail {
                        @include decoration-none();  
                    }
                }
            }
        }
    }

    .mensaje {

        fieldset {
            margin-left: 1rem;
            margin-right: 1rem;

            legend {
                font-family: $font-family;
                color: white;
                padding: 1rem;
                margin-left: 0.5rem;
                font-size: 1.5rem;
            }
            
            .formulario {
                display: block;
                color: white;
                padding-left: 1rem;

                input {
                    display: block;
                    margin-bottom: 1rem;
                }

                .bordes:focus {
                    background-color: rgb(207, 206, 206);
                    color: black;
                    border: 5px solid yellow;
                }
                
                textarea {
                    font-size: larger;
                    width: 75%;
                }
            }   
        }
    }
}