/* Main Jugadores */

.jugadores {

    .tituloJugadores {
        color: white;
        padding-bottom: 2rem;
        text-align: center;
    }

    .listaJugadores {

        .listas {

            li {
                padding-bottom: 0.5rem;
                text-align: center;
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: white;
                }

                a:hover {
                    background-color: rgb(220, 217, 215);
                    color: black;
                }
            }

        }

    }
    

}