/* Variable */
$font-family: Georgia;

/* NAVBAR */

.nav-js {
    color: white !important;

    .mauro {
        display: flex;
        color: white; 
        padding-top: 15px;
        margin-left: 1rem; 
        font-family: $font-family;

        h1 {
            text-align: center;
        }

        .imgMenu {
            text-align: right;
        }
    }
}

