
/* Main quienes somos */

main {

    .quinesSomos {
        text-align: center;
        justify-content: center;
    }

    .parrafo {
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        margin: 2rem;
    }
}