/* Variable */
$font-family: Georgia;


/* Main quienes somos */

.logo {
    display: flex;
            width: 300px;
}

.quienessomos {

    h1 {
        font-family: $font-family;
        color: white;
        text-align: center;
        justify-content: center;
    }

    .parrafo {
        color: white;
        font-family: $font-family;
        text-align: center;
        margin: 2rem;
    }
}

