/*  */

@media only screen and (min-width: 426px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        .mauro {
            justify-content: right !important;

            h1 {
                display: none;
            }

            .items {
                text-align: right;
            }
        }

      
    }

    header {

        .lista-header {
            display: none;
        }
    }


    main {
        

        .videosIndex iframe {
            width: 330px;
            height: 250px;
            margin: 1rem;
        }
    
    }

    
}