/*  media para tablet */

@media only screen and (max-width: 426px) {


    .navbar {

        position: sticky;
        top: 0;

        .mauro {

            .items {
                text-align: right;
            }
        }
    }
    

    header {

            /* TItulo para PC y Tablet */
        .tituloPC {
            display: none;
        }

        .lista-header { display: none;}
    }

}