/* /* /*  */

/* Vista tablet */

@media only screen and (min-width: 426px) and (max-width: 1023px) {

    .navbar {
        background-image: linear-gradient(to top, black,gray);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        border-bottom: solid 1px gray;
        .mauro {
            justify-content: space-between;
        
            .items {
                text-align: right;
            }
        }
    }

    header {
        background-image: none;
        .lista-header {
            display: none;
        }
    }
  

    main {
        .carruselCentrado {
            display: none;
        }

        .carruselTablet {
            iframe {
                margin: 0.5rem;
            }
        }
    }
}








