/* Vista Mobile */

@media only screen and (max-width: 426px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        .mauro {
            justify-content: space-between;
        
            .items {
                text-align: right;
            }
        }
    }

    header {
        .lista-header {
            display: none;
        }
    }

    .araujo {
        .carruselCentrado {
            display: none;
        }
    }

}